<!-- 
<% content_for :sidebar do %>
	<h3>Contact Info</h3>
	<p>atallahhezbor@gmail.com></p>
<% end %>
-->

<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>Born on <%= @owner.birthdate %>.</p>
<p><%= @owner.countdown %> days remain</p>