<% content_for :title do %>About<% end %>
<h3>About Atallah Hezbor</h3>
<p>He's trying to learn rails and what not. This paragraphh should be somewhat lengthy. I aim not to reveal personal information. These files are public as far as I know. Security should be a concern in the next step. Thank you for your time. </p>
<p>Oh here's another paragraph</p>